.touchweb-page{
    min-width: 320px;
    max-width: 670px;
    margin: 0 auto;
}


// margin
.mb10{
  margin-bottom: 10px;
}


.plr8{
  padding-left: 8px;
  padding-right: 8px;
}
.pd10{
  padding-bottom: 10px;
}

.textc{
  text-align: center;
}
.textl{
  text-align: left;
}
.textr{
  text-align: right;
}